body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#mapid {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.anomaly-container {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}