body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#calendar {
    position: fixed;
    left: 70%;
    top: 0%;
    width: 15%;
    z-index: 1;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}

.graph-container {
    display: block;
    background-color: rgb(255, 255, 255, 1);
    z-index: 1001;
}

.close-container {
    z-index: 1001;
}

#datepicker {
    width: 100%;
}

#export-button{
    position: fixed;
    left: 85%;
    top: 0%;
    background: #08B82F;
}

/* start modal */
.modal {
    /* tem que comecar escondido */
    display: none;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 0;
    width: 10%;
    height: 100%;
    overflow: auto;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 30px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* end modal */

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes animateright {
    from {right: -600px; opacity: 0}
    to {left: 0; opacity: 1}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#gradient {
    height: 17px;
    width: 280px;
    bottom: 30px;
    background: linear-gradient(90deg, rgba(128,128,128,1) 16.6%, rgba(0,159,134,1) 33.3%, rgba(60,84,136,1) 50%, rgba(77,187,213,1) 66.6%, rgba(255,190,125,1) 83.3%, rgba(225,87,89,1) 100%);
}

#gradient-saturation {
    height: 17px;
    width: 310px;
    bottom: 15px;
}

#square-id {
    text-align: center;
}

#latlong {
    text-align: center;
}