body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.anomaly-container {
    position: fixed;
    display: block;
    background-color:white;
    top: 10px;
    right: 0px;
    bottom: 10px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 95%;
    width: 35%;
    z-index: 1;
    animation-name: animateright;
    animation-duration: 0.4s;
}

.anomaly-container-btn{
    display: block;
    position: absolute;
    bottom: 10px;
}
.graph-class {
    position: relative;
    display: flex;
    top: 135px;
    margin-top: 30px;
    height: 50%;
    width: 100%;
}

.btn-download {
    position: absolute;
    top: 53px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
  
  /* Darker background on mouse-over */
.btn-download:hover {
    background-color: RoyalBlue;
}

/* start modal */
.modal {
    /* tem que comecar escondido */
    display: none;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 0;
    width: 10%;
    height: 100%;
    overflow: auto;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 30px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* end modal */

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes animateright {
    from {right: -600px; opacity: 0}
    to {left: 0; opacity: 1}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* graphs styles */
.bar {
    background-color: #A6B4BA;
}

rect {
    fill: steelblue;
}
rect:hover{
    opacity: 0.8;
}
